#formularioRegister form {
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding: 2%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #ccc;
}

#formularioRegister form label {
    display: block;
    margin-bottom: 1.5%;
    font-weight: bold;
}

#formularioRegister form input[type="text"],
#formularioRegister form input[type="email"],
#formularioRegister form input[type="password"] {
    display: block;
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

#formularioRegister .form-column {
    width: 50%;
    float: left;
    padding-right: 5%;
}

/* Menú perfil */
#menu {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
}
  
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
#menu li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
  
#menu li:last-child {
    border-bottom: none;
}
  